a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 800;
}
header {
    text-align: center;
    font-style: italic;
}
nav {
    float: left;
    height: 1200px;
}
nav ul li {
    padding: 20px 2px;
    border-style: solid;
    background-color:rgba(216, 194, 194, 0.842);
    font-family: serif;
    font-size: 1.3em;
    color: black;
    list-style-type: none;
}
section {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th {
    padding: 16px;
    text-transform: uppercase;
    background-color: dimgray;
    border: 1px solid black;
}
td {
    padding: 14px;
    border: 1px solid dimgray;
    
}